<app-navbar></app-navbar>
<br>
<br>
<br>
<div class="container">
  <h2>เรียนรู้เกี่ยวกับเรา</h2>
  <br>
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header bgcolor" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link text-dark" type="button" data-toggle="collapse" data-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            <i class="fas fa-info-circle"></i> เกี่ยวกับเว็บไซต์
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          เว็บไซต์แพลตฟอร์ม สำหรับการบันทึกข้อมูล และลงประกาศขาย บ้านเดี่ยว คอนโด ที่ดิน อสังหาเชิงพาณิชย์ ในกรุงเทพฯ
          และ จังหวัดอื่นทั่วประเทศไทย รวบรวมทั้งระบบแนะนำอสังหาสำหรับคุณ หรือ ค้นหาบ้านที่ตรงตามความต้องการของคุณ
          ผ่านตัวกรอง(filter) ในเว็บไซต์ทำให้ประหยัดเวลาในการค้นหาอสังหาริมทรัพย์ที่ต้องการได้อย่างดี
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header bgcolor" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed text-dark" type="button" data-toggle="collapse"
            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <i class="fas fa-thumbs-up"></i> แนะนำอสังหา
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse text-dark" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          ระบบแนะนำอสังหาริมทรัพย์ ที่เหมาะกับคุณที่สุดด้วยระบบ Machine learning
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header bgcolor" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed text-dark" type="button" data-toggle="collapse"
            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <i class="fas fa-cloud-upload-alt"></i> บันทึกข้อมูล
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          ระบบที่จะช่วยให้คุณสามารถบันทึกอสังหาริมทรัพย์ได้ทุกรูปแบบ ไม่ว่าจะเป็น บ้าน คอนโด อาคารพาณิชย์
          หรือที่ดินรูปแบบต่างๆ เก็บไว้ในระบบซึ่งคุณสามารถแก้ไขได้ทุกเวลา
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header bgcolor" id="headingFour">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed text-dark" type="button" data-toggle="collapse"
          data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <i class="fas fa-users"></i> กลุ่มแชร์
        </button>
      </h2>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
        แชร์ข้อมูลอสังหาของคุณร่วมกับสมาชิกคนอื่นๆ ในกลุ่มที่คุณเป็นคนสร้างขึ้น หรือเข้าร่วมกับกลุ่มของบุคคลอื่น
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header bgcolor" id="headingFive">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed text-dark" type="button" data-toggle="collapse"
          data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          <i class="fas fa-mobile-alt"></i> แอพพิเคชั่น
        </button>
      </h2>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">
        ทางเรามีแอพพิเคชั่นเพื่อความสะดวกสะบาย และง่ายต่อการบันทึกอสังหานอกสถานที่สำหรับคุณ
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
