<img src="https://www.234.in.th/images/2019/05/03/derek-torsani-22x.png" class="img-fluid" alt="Responsive image"
  style="width:100%;">
<section *ngFor="let house of results" class="container">
  <div id="web-body">
    <div id="page-content">
      <!------------------------------------------------------------------------>

      <div class="container">
        <div id="product-container">
          <div class="row">
            <div class="col-md-7">
              <br>
              <ul id="breadcrumb-nav" typeof="BreadcrumbList">
                <li property="itemListElement" typeof="ListItem"><a [routerLink]="[ '/home' ]" property="item"
                    typeof="WebPage"><span property="name"><i class="fas fa-paper-plane"></i> หน้าแรก</span></a>
                  <meta property="position" content="1">
                </li>
                <li property="itemListElement" typeof="ListItem"><a [routerLink]="[ '/lands' ]" property="item"
                    typeof="WebPage"><span property="name">อสังหาสิ่งปลูกสร้าง</span></a>
                  <meta property="position" content="2">
                </li>
                <li property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage"><span
                      property="name">{{ house.AnnounceTH }}</span></a>
                  <meta property="position" content="2">
                </li>
              </ul>

              <h1>{{ house.AnnounceTH }}</h1>
              <h5><i class="fas fa-map-marker-alt"></i> {{ house.Location }}, {{ house.LDistrict }},
                {{ house.LAmphur }}, {{ house.LProvince }}, ประเทศไทย, {{house.LZipCode}}</h5>
              <hr>
            </div>
            <div class="col-md-5 ">
              <div class="logo-distributed ">
                <h3>Property<span>Management</span></h3>
                <br>
                <button kendo-button class="btn btn-success" (click)="pdf.saveAs('invoice.pdf')">
                  บันทึกเป็น PDF
                </button>
              </div>

            </div>
          </div>
        </div>
        <div style="position: absolute; left: -1000px; top: 0;">
          <kendo-pdf-export #pdf paperSize="A4" margin="1cm">
            <div style="width: 500px;">
              <img src="" alt="">
            </div>
          </kendo-pdf-export>
        </div>
        <div class="row">
          <div class="col-md-6">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
          </div>
          <div class="col-md-4">
            <div class="jumbotron">
              <div class="header-blog">สถานะการซื้อขาย</div>
              <label>{{house.PPStatus}}</label>
            </div>
            <div class="jumbotron">
              <div class="header-blog">สถานะทรัพย์สิน</div>
              <label>{{house.AsseStatus}}</label>
            </div>
          </div>
        </div>
        <div id="product-specificate">

          <!-- Tab panes -->
          <div class="">
            <div role="tabpanel" class="tab-pane active" id="specificate">

              <div class="row">
                <div class="col-xs-12">
                  <hr>
                  <h3>ข้อมูลทั่วไป</h3>
                  <div class="row">
                    <div class="col-md-12 ">
                      <div class="col-sm-6">
                        <div class="header-blog">ข้อมูลอสังหา</div>
                        <div class="specificate-panel">
                          <div class="specificate-list">
                            <div class="specificate-title">ประเภทบ้าน</div>
                            <div class="specificate-info">{{ house.PropertyType }}</div>
                          </div>
                          <div class="specificate-list">
                            <div class="specificate-title">หัวข้อประกาศ</div>
                            <div class="specificate-info">{{ house.AnnounceTH }}</div>
                          </div>
                          <div class="specificate-list">
                            <div class="specificate-title">รหัสอสังหา</div>
                            <div class="specificate-info">{{ house.CodeDeed }}</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 ">
                        <div class="header-blog">ราคา</div>
                        <div class="specificate-panel">
                          <div class="specificate-list">
                            <div class="specificate-title">ราคาขาย</div>
                            <div class="specificate-info">{{ house.SellPrice}} บาท</div>
                          </div>
                          <div class="specificate-list">
                            <div class="specificate-title">ราคาประเมิน</div>
                            <div class="specificate-info">{{ house.Costestimate}} บาท</div>
                          </div>
                          <div class="specificate-list">
                            <div class="specificate-title">ราคาตลาด</div>
                            <div class="specificate-info">{{ house.MarketPrice}} บาท</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="container">

                    <div class="row">
                      <div class="col-sm-6">
                        <div class="header-blog">รายละเอียดบ้าน</div>
                        <ul>
                          <li>
                            <div><i class="fas fa-bath"></i> {{house.BathRoom}} ห้องน้ำ </div>

                          </li>
                          <li>
                            <div><i class="fas fa-bed"></i> {{house.BedRoom}} ห้องนอน </div>

                          </li>
                          <li>
                            <div><i class="fas fa-car"></i> {{house.CarPark}} ที่จอดรถ</div>

                          </li>

                          <li>
                            <div><i class="fas fa-ruler"></i> พื้นที่ตัวบ้าน {{house.HouseArea}} ตารางวา</div>

                          </li>
                        </ul>
                      </div>
                      <br>
                      <div class="col-sm-6">
                        <div class="header-blog">รายละเอียดที่ดิน</div>
                        <ul>
                          <li>
                            <div><i class="fas fa-ruler"></i> {{house.LandR}} ไร่ </div>

                          </li>
                          <li>
                            <div><i class="fas fa-ruler"></i> {{house.LandG}} งาน </div>

                          </li>
                          <li>
                            <div><i class="fas fa-ruler"></i> {{house.LandWA}} ตารางวา</div>

                          </li>

                          <li>
                            <div><i class="fas fa-ruler"></i> พื้นที่ใช้สอย {{house.LandU}} ตารางวา</div>

                          </li>
                        </ul>
                      </div>
                      <div class="col-md-12">
                        <div class="">
                          <div class="header-blog">รายละเอียดเพิ่มเติม</div>
                          <p>{{house.MoreDetails}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-xs-12">
                  <h3>ข้อมูลติดต่อ</h3>
                  <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                        role="tab" aria-controls="nav-home" aria-selected="true">ผู้ติดต่อบุคคลที่ 1</a>
                      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                        aria-controls="nav-profile" aria-selected="false">ผู้ติดต่อบุคคลที่ 2</a>
                      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                        aria-controls="nav-contact" aria-selected="false">ผู้ติดต่อบุคคลที่ 3</a>
                    </div>
                  </nav>
                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                      <div class="container ">
                        <h4><i class="fas fa-file-alt"></i> ผู้ติดต่อบุคคลที่ 1</h4>
                        <div class="container">
                          <div *ngFor="let item of selectContact">
                            <form>
                              <div class="form-row">
                                <div class="form-group col-md-4">
                                  <label for="inputEmail4">ชื่อผู้ติดต่อ</label>
                                  <div class="specificate-panel">
                                    <div class="specificate-list">
                                      <div class="specificate-title">คุณ</div>
                                      <div class="specificate-info">{{item.Name}}</div>
                                    </div>
                                  </div>
                                </div>
                                <div class="form-group col-md-4">
                                  <label for="inputEmail4">สถานะ</label>
                                  <div class="specificate-panel">
                                    <div class="specificate-list">
                                      <div class="specificate-title">สถานะ</div>
                                      <div class="specificate-info">{{house.CountactS}}</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-4">
                                  <label for="inputEmail4">อีเมล</label>
                                  <div class="specificate-panel">
                                    <div class="specificate-list">
                                      <div class="specificate-title">อีเมล</div>
                                      <div class="specificate-info">{{item.Email}}</div>
                                    </div>
                                  </div>
                                </div>
                                <div class="form-group col-md-4">
                                  <label for="inputEmail4">เบอร์โทร</label>
                                  <div class="specificate-panel">
                                    <div class="specificate-list">
                                      <div class="specificate-title">เบอร์โทร</div>
                                      <div class="specificate-info">{{item.Phone}}</div>
                                    </div>
                                  </div>
                                </div>
                                <div class="form-group col-md-4">
                                  <label for="inputEmail4">ไลน์</label>
                                  <div class="specificate-panel">
                                    <div class="specificate-list">
                                      <div class="specificate-title">ไลน์</div>
                                      <div class="specificate-info">{{item.Line}}</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                      <div class="container">
                        <h4><i class="fas fa-file-alt"></i> ผู้ติดต่อบุคคลที่ 2</h4>
                        <div class="container">
                          <div *ngFor="let item of selectContact2">
                            <form>
                              <div class="form-row">
                                <div class="form-group col-md-4">
                                  <label for="inputEmail4">ชื่อผู้ติดต่อ</label>
                                  <div class="specificate-panel">
                                    <div class="specificate-list">
                                      <div class="specificate-title">คุณ</div>
                                      <div class="specificate-info">{{item.Name}}</div>
                                    </div>
                                  </div>
                                </div>
                                <div class="form-group col-md-4">
                                  <label for="inputEmail4">สถานะ</label>
                                  <div class="specificate-panel">
                                    <div class="specificate-list">
                                      <div class="specificate-title">สถานะ</div>
                                      <div class="specificate-info">{{house.CountactS}}</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-4">
                                  <label for="inputEmail4">อีเมล</label>
                                  <div class="specificate-panel">
                                    <div class="specificate-list">
                                      <div class="specificate-title">อีเมล</div>
                                      <div class="specificate-info">{{item.Email}}</div>
                                    </div>
                                  </div>
                                </div>
                                <div class="form-group col-md-4">
                                  <label for="inputEmail4">เบอร์โทร</label>
                                  <div class="specificate-panel">
                                    <div class="specificate-list">
                                      <div class="specificate-title">เบอร์โทร</div>
                                      <div class="specificate-info">{{item.Phone}}</div>
                                    </div>
                                  </div>
                                </div>
                                <div class="form-group col-md-4">
                                  <label for="inputEmail4">ไลน์</label>
                                  <div class="specificate-panel">
                                    <div class="specificate-list">
                                      <div class="specificate-title">ไลน์</div>
                                      <div class="specificate-info">{{item.Line}}</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                      <div class="container">
                        <h4><i class="fas fa-file-alt"></i> ผู้ติดต่อบุคคลที่ 3</h4>
                        <div class="container">
                          <div *ngFor="let item of selectContact3">
                            <form>
                              <div class="form-row">
                                <div class="form-group col-md-4">
                                  <label for="inputEmail4">ชื่อผู้ติดต่อ</label>
                                  <div class="specificate-panel">
                                    <div class="specificate-list">
                                      <div class="specificate-title">คุณ</div>
                                      <div class="specificate-info">{{item.Name}}</div>
                                    </div>
                                  </div>
                                </div>
                                <div class="form-group col-md-4">
                                  <label for="inputEmail4">สถานะ</label>
                                  <div class="specificate-panel">
                                    <div class="specificate-list">
                                      <div class="specificate-title">สถานะ</div>
                                      <div class="specificate-info">{{house.CountactS}}</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-4">
                                  <label for="inputEmail4">อีเมล</label>
                                  <div class="specificate-panel">
                                    <div class="specificate-list">
                                      <div class="specificate-title">อีเมล</div>
                                      <div class="specificate-info">{{item.Email}}</div>
                                    </div>
                                  </div>
                                </div>
                                <div class="form-group col-md-4">
                                  <label for="inputEmail4">เบอร์โทร</label>
                                  <div class="specificate-panel">
                                    <div class="specificate-list">
                                      <div class="specificate-title">เบอร์โทร</div>
                                      <div class="specificate-info">{{item.Phone}}</div>
                                    </div>
                                  </div>
                                </div>
                                <div class="form-group col-md-4">
                                  <label for="inputEmail4">ไลน์</label>
                                  <div class="specificate-panel">
                                    <div class="specificate-list">
                                      <div class="specificate-title">ไลน์</div>
                                      <div class="specificate-info">{{item.Line}}</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <h3>ข้อมูลสถานที่</h3>
              <h5><i class="fas fa-map-marker-alt"></i> {{ house.Location }}, {{ house.LDistrict }},
                {{ house.LAmphur }}, {{ house.LProvince }}, ประเทศไทย, {{house.LZipCode}}</h5>
              <div class="row">
                <div class="col-md-12 ">
                  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                  </agm-map>
                </div>
              </div>
              <hr>
              <h3>รายละเอียด</h3>
              <div class="container">
                <div class="row">
                  <div class="col-xs-12 ">
                    <div class="header-blog">รายละเอียดอสังหา</div>
                    <div class="specificate-panel">
                      <div class="specificate-list">
                        <div class="specificate-title">สภาพบ้าน</div>
                        <div class="specificate-info">{{ house.HomeCondition }}</div>
                      </div>
                      <div class="specificate-list">
                        <div class="specificate-title">อายุบ้าน</div>
                        <div class="specificate-info">{{ house.BuildingAge }} ปี</div>
                      </div>
                      <div class="specificate-list">
                        <div class="specificate-title">ปีที่ก่อสร้างเสร็จ</div>
                        <div class="specificate-info">{{ house.BuildFD }} / {{ house.BuildFM }} / {{ house.BuildFY }}
                        </div>
                      </div>
                      <div class="specificate-list">
                        <div class="specificate-title">ทิฺศของประตูบ้าน</div>
                        <div class="specificate-info">{{ house.Directions }}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="header-blog">ทำเล</div>
                    <div class="specificate-panel">
                      <div class="specificate-list">
                        <div class="specificate-title">ที่ตาบอด</div>
                        <div class="specificate-info">{{ house.Blind }}</div>
                      </div>
                      <div class="specificate-list">
                        <div class="specificate-title">ใกล้สถานศึกษา</div>
                        <div class="specificate-info">{{ house.Neareducation }}</div>
                      </div>
                      <div class="specificate-list">
                        <div class="specificate-title">ใกล้ศูนย์การค้า</div>
                        <div class="specificate-info">{{ house.Cenmarket }}</div>
                      </div>
                      <div class="specificate-list">
                        <div class="specificate-title">ใกล้ตลาด</div>
                        <div class="specificate-info">{{ house.Market }}</div>
                      </div>
                      <div class="specificate-list">
                        <div class="specificate-title">ติดแม่น้ำ</div>
                        <div class="specificate-info">{{ house.River }}</div>
                      </div>
                      <div class="specificate-list">
                        <div class="specificate-title">ติดถนน</div>
                        <div class="specificate-info">{{ house.Mainroad }} </div>
                      </div>
                      <div class="specificate-list">
                        <div class="specificate-title">อยู่ในซอย</div>
                        <div class="specificate-info">{{ house.Insoi }} </div>
                      </div>
                      <div class="specificate-list">
                        <div class="specificate-title">อื่นๆ</div>
                        <div class="specificate-info">{{ house.Letc }} </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="">
                      <div class="header-blog">ถนน</div>
                      <div class="specificate-panel">
                        <div class="specificate-list">
                          <div class="specificate-title">สถานะถนน</div>
                          <div class="specificate-info">{{ house.RoadType }}</div>
                        </div>
                        <div class="specificate-list">
                          <div class="specificate-title">ความกว้างถนน</div>
                          <div class="specificate-info">{{ house.RoadWide }}</div>
                        </div>
                        <div class="specificate-list">
                          <div class="specificate-title">ระดับพื้นดิน</div>
                          <div class="specificate-info">{{ house.GroundLevel }} | {{ house.GroundValue }} เมตร</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="col-xs-12 ">
                <h3>สิ่งอำนวยความสดวก</h3>
                <div class="row">
                  <div class="col-md-12 container ">
                    <div class=" col-sm-6">
                      <div class="header-blog">ภายในบ้าน</div>
                      <div class="specificate-panel">
                        <div class="specificate-list">
                          <div class="specificate-title">เครื่องปรับอากาศ</div>
                          <div class="specificate-info">{{ house.airconditioner }}</div>
                        </div>
                        <div class="specificate-list">
                          <div class="specificate-title">พัดลม</div>
                          <div class="specificate-info">{{ house.afan }}</div>
                        </div>
                        <div class="specificate-list">
                          <div class="specificate-title">เครื่องฟอกอากาศ</div>
                          <div class="specificate-info">{{ house.AirPurifier }}</div>
                        </div>
                        <div class="specificate-list">
                          <div class="specificate-title">เครื่องทำน้ำอุ่น</div>
                          <div class="specificate-info">{{ house.Waterheater }}</div>
                        </div>
                        <div class="specificate-list">
                          <div class="specificate-title">มีอินเตอร์เน็ตไร้สาย (Wi-Fi)</div>
                          <div class="specificate-info">{{ house.WIFI }}</div>
                        </div>
                        <div class="specificate-list">
                          <div class="specificate-title">เคเบิลทีวี</div>
                          <div class="specificate-info">{{ house.TV }}</div>
                        </div>
                        <div class="specificate-list">
                          <div class="specificate-title">ตู้เย็น</div>
                          <div class="specificate-info">{{ house.refrigerator }}</div>
                        </div>
                        <div class="specificate-list">
                          <div class="specificate-title">ไมโครเวฟ</div>
                          <div class="specificate-info">{{ house.microwave }}</div>
                        </div>
                        <div class="specificate-list">
                          <div class="specificate-title">เตาแก๊ส</div>
                          <div class="specificate-info">{{ house.gasstove }}</div>
                        </div>
                        <div class="specificate-list">
                          <div class="specificate-title">ชุดโต๊ะเก้าอี้</div>
                          <div class="specificate-info">{{ house.TCset }}</div>
                        </div>
                        <div class="specificate-list">
                          <div class="specificate-title">ตู้เสื้อผ้า</div>
                          <div class="specificate-info">{{ house.wardrobe }}</div>
                        </div>
                        <div class="specificate-list">
                          <div class="specificate-title">โซฟา</div>
                          <div class="specificate-info">{{ house.sofa }}</div>
                        </div>
                        <div class="specificate-list">
                          <div class="specificate-title">ชั้นวาง</div>
                          <div class="specificate-info">{{ house.shelves }}</div>
                        </div>
                        <div class="specificate-list">
                          <div class="specificate-title">กล้องวงจรปิด CCTV</div>
                          <div class="specificate-info">{{ house.CCTV }}</div>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <div class="header-blog">บริเวณบ้าน</div>
                      <div class="specificate-panel">
                        <div class="specificate-list">
                          <div class="specificate-title">เจ้าหน้าที่รักษาความปลอดภัย</div>
                          <div class="specificate-info">{{ house.Securityguard }}</div>
                        </div>
                        <div class="specificate-list">
                          <div class="specificate-title">สระว่ายน้ำ</div>
                          <div class="specificate-info">{{ house.pool }}</div>
                        </div>
                        <div class="specificate-list">
                          <div class="specificate-title">ฟิตเนส</div>
                          <div class="specificate-info">{{ house.Fitness }}</div>
                        </div>
                        <div class="specificate-list">
                          <div class="specificate-title">พื้นที่ส่วนกลาง</div>
                          <div class="specificate-info">{{ house.Publicarea }}</div>
                        </div>
                        <div class="specificate-list">
                          <div class="specificate-title">รถรับส่ง</div>
                          <div class="specificate-info">{{ house.ShuttleBus }}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</section>