
<app-navbar></app-navbar>
<img src="../../../assets/Home.jpg" class="img-fluid" alt="Responsive image" style="width:100%;">
<div class="container">
  <hr>
</div>
<section class="container">
  <div class="row">
    <div class="col-12 col-md-8 content-box ">
      <div class="d-flex">
        <header>
          <a [routerLink]="[ '/groups']" alt="ShareGroup" title="House">กลุ่ม แชร์สำหรับฉัน<i class="fa fa-angle-right"
              aria-hidden="true"></i></a>
          <div>กลุ่มของคุณ</div>
        </header>
      </div>
    <br>
    <br>
    <br>
      <div class="horizontal-scroll-wrapper  squares">
        <div >
          <button type="button" class="btn btn-default btn-circle btn-xl border border-dark"
            [routerLink]="['/groups/creategroup']"><i class="fa fa-plus"></i></button>
          <div class="">สร้างกลุ่ม</div>
        </div>
        
        <div *ngFor="let group of Groups" >
          <a class="" [routerLink]="['/groups/groupfolder',group.ID_Group]"><img
              src="http://www.landvist.xyz/images/{{group.Img}}" class="img-circle " alt="User Image" width="70px"
              height="70px"></a>
          <div class="">{{group.NameG}} </div>
        </div>
      </div>
      <hr>
      <div class="d-flex">
        <header>
          <a [routerLink]="['/houses']" alt="House" title="House">อสังหาสิ่งปลูกสร้าง<i class="fa fa-angle-right"
              aria-hidden="true"></i></a>
          <div>อสังหาสิ่งปลูกสร้างถูกเพิ่มล่าสุด</div>
        </header>
      </div>

      <div class="list-table">
        <ul *ngIf="emptyP == 'true'" class="d-flex nav product-list">
          <li *ngFor="let item of loading| slice:pointStart:pointEnd;"
            class="col-sm-4 col-6 d-flex justify-content-center">
            <a [routerLink]="['/addhouse']">
              <div class="item">
                <i class="fas fa-plus-circle"></i>
                <div class="info">
                  <header>เพิ่มข้อมูลอสังหาสิ่งปลูกสร้างของคุณ</header>

                </div>
              </div>
            </a>
          </li>
        </ul>
        <ul class="d-flex nav product-list">
          <li *ngFor="let item of loading| slice:pointStart:pointEnd;"
            class="col-sm-4 col-6 d-flex justify-content-center">
            <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
          </li>
          <li *ngFor="let house of details| slice:pointStart:pointEnd;let i=index "
            class="col-sm-4 col-6 d-flex justify-content-center">

            <a [routerLink]="['/houses',house.ID_Property]">
              <div class="item">
                <img src="http://www.landvist.xyz/images/{{house.ImageEX}}" width="80%" height="80%"
                  class="img-fluid rounded ">
                <div class="info">
                  <header>{{house.AnnounceTH}}</header>
                  <div class="price">ราคา <span>{{house.SellPrice | number}}</span> บาท</div>
                  <div class="stat"> อัพเดทล่าสุด<span> {{house.Created| timeAgoThai}}</span></div>
                </div>
              </div>
            </a>
          </li>

        </ul>
      </div>



      <hr>
      <div class="d-flex">
        <header>
          <a [routerLink]="['/lands']" alt="Lands" title="Lands">ที่ดิน<i class="fa fa-angle-right"
              aria-hidden="true"></i></a>
          <div>ที่ดินที่ถูกเพิ่มล่าสุด</div>
        </header>
      </div>
      <div class="list-table">
        <ul *ngIf="emptyL == 'true'" class="d-flex nav product-list">
          <li *ngFor="let item of loading| slice:pointStart:pointEnd;"
            class="col-sm-4 col-6 d-flex justify-content-center">
            <a [routerLink]="['/addlands']">
              <div class="item">
                <i class="fas fa-plus-circle"></i>
                <div class="info">
                  <header>เพิ่มข้อมูลที่ดินของคุณ</header>

                </div>
              </div>
            </a>
          </li>
        </ul>

        <ul class="d-flex nav product-list">

          <li *ngFor="let item of loading| slice:pointStart:pointEnd;"
            class="col-sm-4 col-6 d-flex justify-content-center">
            <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
          </li>





          <li *ngFor="let lands of results| slice:pointStart:pointEnd;"
            class="col-sm-4 col-6 d-flex justify-content-center">

            <a [routerLink]="['/lands',lands.ID_Lands]" [queryParams]="{page: activePage}">
              <div class="item">
                <img src="http://www.landvist.xyz/images/{{lands.ImageEX}}" width="180" class="img-fluid  rounded">
                <div class="info">
                  <header>{{lands.AnnounceTH}}</header>
                  <div class="price">ราคา <span>{{lands.SellPrice | number}}</span> บาท</div>
                  <div class="stat"> อัพเดทล่าสุด<span> {{lands.Created| timeAgoThai}}</span></div>
                </div>
              </div>
            </a>
          </li>


        </ul>





      </div>
    </div>


    <hr>

    <div class="col-12 col-md-4 content-box">
      <header>
        อสังหาริมทรัพย์ แนะนำ<i class="fa fa-angle-right" aria-hidden="true"></i>
        <div>แนะนำ รูปแบบ การลงทุนอสังหาฯ</div>
      </header>

      <div class="recommend-spec">
          <label for="">ระยะยาว</label>
        <ul class="nav">
          <li *ngFor="let item of AllLongTrem">
            <a class="d-flex" href="#">
              <div class="banner"><img
                  src="http://www.landvist.xyz/images/{{item.ImageEX}}"
                  width="90" class="img-fluid"></div>
              <div class="info">
                <div class="title">{{item.AnnounceTH}}</div>
                <div class="price">{{item.SellPrice}}</div>
              </div>
            </a>
          </li>
        </ul>
<br>
        <label for="">ระยะสั้น</label>
        <ul class="nav">
          <li *ngFor="let item of AllShortTrem">
            <a class="d-flex" href="#">
              <div class="banner"><img
                src="http://www.landvist.xyz/images/{{item.ImageEX}}"
                  width="90" class="img-fluid"></div>
              <div class="info">
                <div class="title">{{item.AnnounceTH}}</div>
                <div class="price">{{item.SellPrice}}</div>
              </div>
            </a>
          </li>
         





        </ul>
      </div>
    </div>









  </div>





</section>
<app-footer></app-footer>
