<app-navbar></app-navbar>
<div class="container PMB">
  <div class="row">
    <div class="col-md-8 jumbotron col-12 col-md-6" style="height: 650%;">
      <div class="text-center" style="margin: 20%">
        <h1>การรีเซ็ทรหัสผ่าน</h1>
        <p class="font-weight-light  ">
          โปรดระบุที่อยู่อีเมลที่คุณใช้สมัครใช้งานบัญชี PropertyMB ของคุณ

          เราจะส่งอีเมลที่จะช่วยให้คุณสามารถรีเซ็ตรหัสผ่าน
          <app-loading-spinner *ngIf="loading == true"></app-loading-spinner>
      </div>
    </div>
    <div class="col-md-4 ">
      <div class="col-xs-12- col-sm-6 col-md-12 ">
        <header class="text-center">
          <img src="http://www.landvist.xyz/images/Defult/logo2.png" width="300" height="250" alt="">
          <br>
          <h3>การรีเซ็ทรหัสผ่าน</h3>
          <div>รีเซ็ทรหัสผ่าน บัญชี PropertyMB ของคุณ</div>
        </header>
        <hr>
        <div *ngIf="next== false">
          <form (submit)="GetEmail()" [formGroup]="getEmailForm">
            <div class="form-group">
              <label>ที่อยู่อีเมลของคุณ</label>
              <input type="text" [(ngModel)]="credentials.Email" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && E.email.errors }" />
              <div *ngIf="submitted && E.email.errors" class="invalid-feedback">
                <div *ngIf="E.email.errors.required">กรุณากรอกที่อยู่อีเมล</div>
                <div *ngIf="E.email.errors.email">รูปแบบไม่ถูกต้อง</div>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-outline-primary float-right" type="submit">ถัดไป</button>
            </div>
          </form>
        </div>
        <div *ngIf="nexttwo == false && next== true">
          <form  [formGroup]="getTokenForm">
            <header class="text-center">
              <h5>รหัสยืนยันทางอีเมล</h5>
              <a >ระบบได้ส่งรหัสยืนยัน ไปที่อีเมลของคุณแล้ว กรุณาตรวจสอบอีเมลและนำรหัสมากรอกในช่องด้านล่างเพื่อยืนยันตัวตน</a>
              
            </header>
            <hr>
            <div >รหัสถูกส่งไปที่</div>
            <a href="">{{credentials.Email}}</a>
            <div class="form-group">
              <label class="text-center">รหัสยืนยัน</label>
              <br>
              <input type="text" [(ngModel)]="credentials.Token" formControlName="Token" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && Q.Token.errors }" />
              <div *ngIf="submitted && Q.Token.errors" class="invalid-feedback">
                <div *ngIf="Q.Token.errors.required">กรุณากรอกรหัสยืนยัน</div>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-outline-primary float-right" type="button" (click)="onCompareP()">ถัดไป</button>
            </div>
          </form>
        </div>

        <div *ngIf="nexttwo==true">
          <form  [formGroup]="resetForm">
            <div class="form-group">
              <label>รหัสผ่าน ใหม่</label>
              <input type="password" [(ngModel)]="credentials.Password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">กรุณากรอกรหัสผ่าน</div>
                <div *ngIf="f.password.errors.minlength">ใช้อักขระ 6 ตัวขึ้นไป สำหรับรหัสผ่าน</div>
              </div>
            </div>
            <div class="form-group">
              <label>ยืนยัน รหัสผ่าน</label>
              <input type="password" formControlName="confirmPassword" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
              <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">กรุณายืนยัน รหัสผ่าน</div>
                <div *ngIf="f.confirmPassword.errors.mustMatch">รหัสผ่านเหล่านี้ไม่ตรงกัน โปรดลองอีกครั้ง</div>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-outline-primary float-right" type="submit" (click)="ResetPassword()">รีเซ็ทรหัสผ่าน</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->






<div class="container">
  <hr>
</div>
<app-footer></app-footer>