input
    {
        border-radius: 30px 30px 30px 30px;
    }
select{
        border-radius: 30px 30px 30px 30px;
    }
.PMB{
        font-family: 'Poppins', 'Prompt', sans-serif;
    }
.page-content-auto {
  max-width: 100%;
  height: auto!important;
}

.page-content img {
  max-width: 100%;
  height: auto!important;
}
