<div class="Font">

   
  <nav class="main-header  fixed-top navbar navbar-expand-lg navbar-white navbar-light bd-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-widget="pushmenu"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarText">
      <ul class="navbar-nav mr-auto ">
        <li *ngIf="auth.isLoggedIn()" class="nav-item active">
          <a class="nav-link " routerLink="/home">หน้าหลัก <span class="sr-only">(current)</span></a>
        </li>
        <li *ngIf="auth.isLoggedIn()" class="nav-item ">
          <a class="nav-link" routerLink="/houses"><i class="fa fa-home font-color-orange" aria-hidden="true"></i>
            อสังหาสิ่งปลูกสร้างของฉัน<span class="sr-only">(current)</span></a>
        </li>
        <li *ngIf="auth.isLoggedIn()" class="nav-item ">
          <a class="nav-link" routerLink="/lands"><i class="fa fa-tree font-color-green" aria-hidden="true"></i>
            ที่ดินของฉัน<span class="sr-only">(current)</span></a>
        </li>
        <li *ngIf="auth.isLoggedIn()" class="nav-item ">
          <a class="nav-link" routerLink="/groups"><i class="fa fa-users font-color-blue " aria-hidden="true"></i>
            กลุ่มของฉัน <span class="sr-only">(current)</span></a>
        </li>
        <li *ngIf="auth.isLoggedIn()" class="nav-item ">
          <a class="nav-link" routerLink="/recommend"><i class="fa fa-star font-color-gold" aria-hidden="true"></i>
            แนะนำ<span class="sr-only">(current)</span></a>
        </li>
        <li *ngIf="auth.isLoggedIn()" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"><i class="fas fa-plus-circle"></i>
            เพิ่มอสังหาริมทรัพย์
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/addhouse"><i class="fa fa-home font-color-orange "
                aria-hidden="true"></i> อสังหาสิ่งปลูกสร้าง</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/addlands"><i class="fa fa-tree font-color-green"
                aria-hidden="true"></i> ที่ดิน</a>
          </div>
        </li>
      </ul>
      <div class="d-flex flex-row-reverse">
        <ul class="navbar-nav mr-auto">
          <li *ngIf="auth.isLoggedIn()" class="nav-item">
            <a class="nav-link" routerLink="/profile"><img src="{{ auth.getUserDetails()?.Profile1}}" alt=""><i
                class="fa fa-user-circle"></i></a>
          </li>
          <li *ngIf="auth.isLoggedIn()" class="nav-item active">
            <a class="nav-link" routerLink="/profile">{{ auth.getUserDetails()?.Email }}</a>
          </li>
          <li *ngIf="auth.isLoggedIn()" class="nav-item">
            <a class="nav-link" routerLink="" (click)="auth.logout()">ออกจากระบบ</a>
          </li>
          <li *ngIf="!auth.isLoggedIn()" class="nav-item">
            <a class="nav-link" routerLink="/login">ลงชื่อเข้าใช้งาน</a>
          </li>
          <li *ngIf="!auth.isLoggedIn()" class="nav-item">
            <a class="nav-link" routerLink="/register">สมัคสมาชิก</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->

    <!-- Sidebar -->
    <div class="sidebar" data-widget="pushmenu">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
          <li class="nav-header">
            <h5>กลุ่ม</h5>
          </li>
          <li class="nav-header">
            <button type="button" class="btn btn-success" [routerLink]="['/groups/creategroup']"><i
              class="fas fa-plus-circle"></i> สร้างกลุ่มใหม่</button>
          </li>
          <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="info">
              <a class="d-block"></a>
            </div>
          </div>
            <li class="nav-item has-treeview menu-open">
              <a  class="nav-link active">
                <i class="fas fa-users-cog"></i>
                <p>
                  กลุ่มที่คุณจัดการ
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <div class="user-panel mt-3 pb-3 mb-3 d-flex" *ngFor="let group of Groups">
                  <div class="image">
                    <img src="{{group.Img}}" class="img-circle elevation-2"
                       width="20px" height="20px">
                  </div>
                  <div class="info">
                    <a [routerLink]="['/groups/groupfolder',group.ID_Group]" (click)="reload()"
                      class="d-block">{{group.NameG}}</a>
                  </div>
                </div>
              </ul>
            </li>
            <li class="nav-item has-treeview menu-open">
              <a  class="nav-link active">
                <i class="fas fa-users"></i>
                <p>
                  กลุ่มที่คุณเป็นสมาชิก
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <div class="user-panel mt-3 pb-3 mb-3 d-flex" *ngFor="let group of GDetails">
                  <div class="image">
                    <img src="{{group.Img}}" class="img-circle elevation-2"
                      width="20px" height="20px">
                  </div>
                  <div class="info">
                    <a [routerLink]="['/groups/member/groupfolder',group.ID_Group]" class="d-block">{{group.NameG}}</a>
                  </div>
                </div>
              </ul>
            </li>
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>
  
    <div class="content-wrapper">
      <div class="container" *ngFor="let F of GFolders">
        <div id="product-container" *ngFor="let D of GroupsDetail">
          <div class="row">
            <div class="col-md-12">
              <br>
              <br>
              <br>
              <ul id="breadcrumb-nav" typeof="BreadcrumbList">
                <li property="itemListElement" typeof="ListItem"><a [routerLink]="[ '/home' ]" property="item"
                    typeof="WebPage"><span property="name"><i class="fas fa-paper-plane"></i>
                      หน้าแรก</span></a>
                  <meta property="position" content="1">
                </li>
                <li property="itemListElement" typeof="ListItem"><a [routerLink]="[ '/groups' ]" property="item"
                    typeof="WebPage"><span property="name">กลุ่มของฉัน</span></a>
                  <meta property="position" content="2">
                </li>
                <li property="itemListElement" typeof="ListItem"><a [routerLink]="['/groups/member/groupfolder',D.ID_Group]"
                    property="item" typeof="WebPage"><span property="name"></span>{{D.NameG}}</a>
                  <meta property="position" content="3">
                </li>
                <li property="itemListElement" typeof="ListItem"><a
                    [routerLink]="['/groups/member/groupfolder/itemlist',F.ID_Folder]" property="item" typeof="WebPage"><span
                      property="name"></span>{{F.NameF}}</a>
                  <meta property="position" content="3">
                </li>
              </ul>
              <br>
  
              <div class="row">
                <div class="col-md-4">
                  <div class="row">
                    <h1> <i class="fas fa-folder-open" style="color:rgb(23, 161, 53);"></i> {{F.NameF}}</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
  
      </div>
      <app-loading-spinner *ngIf="showSpinner==true"></app-loading-spinner>
      <div class="container" *ngIf="showSpinner==false">
        <div class="row">
          <div class="search-grid col-md-12">
            <div class="col-xs-12 col-sm-6 col-lg-3 item">
              <div class="col-md-3 box jumbotron ">
                <div class="">
                  <h5 class="card-title">เพิ่มอสังหาริมทรัพย์</h5>
                  <br>
                  <br><br>
  
                  <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal"
                    data-target="#Createlist"> <i class="fa fa-plus"></i></button>
  
  
                  <!-- Modal -->
                  <div class="modal fade" id="Createlist" tabindex="-1" role="dialog" aria-labelledby="Createlist"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="Createlist">เลือกอสังหาริมทรัพย์</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="col-md-4">
                            <div class="ng-autocomplete">
                              <ng-autocomplete [data]="details" placeHolder="กรอกชื่ออสังหาฯ" [searchKeyword]="keyword"
                                [initialValue]="gggg" (selected)='onSelectProperty($event)'
                                (inputChanged)='onEditContactName1($event)' (inputFocused)='onFocused($event)'
                                historyIdentifier="details" [itemTemplate]="itemTemplate"
                                [notFoundTemplate]="notFoundTemplate">
                              </ng-autocomplete>
  
                              <ng-template #itemTemplate let-item>
                                <a [innerHTML]="item.AnnounceTH"></a>
                              </ng-template>
  
                              <ng-template #notFoundTemplate let-notFound>
                                <div>ไม่พบอสังหาฯ</div>
                              </ng-template>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="CreateList()"
                            [disabled]="credentials.ID_Property == ''">เพิ่มลงกลุ่ม</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!---->
              </div>
            </div>
            <div *ngFor="let houses of Property " class="col-xs-12 col-sm-6 col-lg-3 item">
              <div class="box jumbotron ">
                <div class=""><button *ngIf="houses.Owner == ID_user"  type="button" class="compare-btn btn btn-outline-danger btn-sm" data-toggle="modal"
                    data-target="#Deleteitem"><i class="fas fa-times"></i>
  
                  </button>
                  <!-- Modal -->
                  <div class="modal fade" id="Deleteitem" tabindex="-1" role="dialog" aria-labelledby="Deleteitem"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="Deleteitem">ลบอสังหาฯนี้ออกจากกลุ่มใช่หรือไม่?</h5>
                        </div>
                        <div class="modal-body">
                          <div class="text-center">
                            <div class="row">
                              <div class="col-md-6">
                                <button type="button" class="btn btn-success" data-dismiss="modal"
                                  (click)="onDeleteItem(houses.ID_Property)">
                                  <i class="fas fa-trash-alt"></i> ยืนยัน
                                </button>
                              </div>
                              <div class="col-md-6">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">
                                  ยกเลิก
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a *ngIf="houses.Owner == ID_user"  target="_blank"><a *ngFor="let F of GFolders"><a *ngFor="let D of GroupsDetail" [routerLink]="['/groups/member/groupfolder/itemlist/details',D.ID_Group,F.ID_Folder,houses.ID_Property]"
                      [queryParams]="{page: activePage}">
                    <div class="title" style="white-space: nowrap; 	
                    overflow: hidden; text-overflow: ellipsis;">
                      {{houses.AnnounceTH}} <br>
                    </div>
                  </a></a></a>
                  <a *ngIf="houses.Owner != ID_user"
                    [routerLink]="['/groups/member/groupfolder/itemlist/details',houses.ID_Property]"
                    [queryParams]="{page: activePage}" target="_blank">
                    <div class="title" style="white-space: nowrap; 	
                    overflow: hidden; text-overflow: ellipsis;">
                      {{houses.AnnounceTH}} <br>
                    </div>
                  </a>
                  <div class=""><a *ngIf="houses.Owner == ID_user" [routerLink]="['/houses',houses.ID_Property]"
                      [queryParams]="{page: activePage}"><img width="100%" height="200px"
                        src="{{houses.ImageEX}}"
                        class="img-responsive notebook-img rounded"></a>
                    <a *ngIf="houses.Owner != ID_user" 
                      ><a *ngFor="let F of GFolders"><a *ngFor="let D of GroupsDetail" [routerLink]="['/groups/member/groupfolder/itemlist/details',D.ID_Group,F.ID_Folder,houses.ID_Property]"
                        [queryParams]="{page: activePage}"><img width="100%" height="200px"
                        src="{{houses.ImageEX}}"
                        class="img-responsive notebook-img rounded"></a></a></a>
                    <!---->
                    <label class="text-center " *ngIf="houses.PPStatus == 'ขายแล้ว'"><i class="fas fa-window-close"
                        style="color: red;"></i> {{houses.PPStatus}}</label>
                    <label class="text-center " *ngIf="houses.PPStatus == 'อยู่ระหว่างการจอง'"><i
                        class="fas fa-clipboard-check" style="color: rgb(235, 131, 13);"></i> {{houses.PPStatus}}</label>
                    <label class="text-center " *ngIf="houses.PPStatus == 'ยังไม่ขาย'"><i class="fas fa-clipboard"
                        style="color: green;"></i> {{houses.PPStatus}}</label>
                    <hr>
                    <ul class="specification">
                      <li *ngIf="houses.PropertyType == 'บ้าน'"><i class="fa fa-home font-color-orange "
                          aria-hidden="true"></i><b> {{houses.PropertyType}}</b></li>
                      <li *ngIf="houses.PropertyType == 'คอนโด'"><i class="fas fa-building font-color-condo"></i><b>
                          {{houses.PropertyType}}</b></li>
                      <li *ngIf="houses.PropertyType == 'อาคารพาณิชย์'"><i
                          class="fas fa-store-alt font-color-prop"></i><b>
                          {{houses.PropertyType}}</b></li>
                      <li><i class="fas fa-ruler-combined font-color-gold"></i><b> {{houses.LandR}} ไร่ </b> |
                        <b> {{houses.LandG}} งาน</b> | <b> {{houses.LandWA}} ตารางวา </b></li>
                      <li><i class="fas fa-map-marker-alt font-color-mark"></i><b> {{houses.Location}}</b></li>
                      <li><i class="fas fa-map-marked-alt font-color-overview"></i><b>
                          {{houses.ObservationPoint}}</b></li>
                    </ul>
                  </div>
                  <!---->
                  <div class="info">
                    <div class="price">
                      ราคา
                      <span>{{houses.SellPrice | number}}</span>
                      บาท
                    </div>
                    <ul>
                      <li>เพิ่มลงกลุ่มเมื่อ {{houses.Created| timeAgoThai}}</li>
                    </ul>
                    <ul>
                      <li>โดยคุณ {{houses.Firstname}}  {{houses.Lastname}}</li>
                    </ul>
                  </div>
                </div>
                <!---->
              </div>
            </div>
            <div *ngFor="let land of Land " class="col-xs-12 col-sm-6 col-lg-3 item">
              <div class="box jumbotron ">
                <div class=""><button *ngIf="land.Owner == ID_user"  type="button" class="compare-btn btn btn-outline-danger btn-sm" data-toggle="modal"
                    data-target="#Deleteitem"><i class="fas fa-times"></i>
  
                  </button>
                  <!-- Modal -->
                  <div class="modal fade" id="Deleteitem" tabindex="-1" role="dialog" aria-labelledby="Deleteitem"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="Deleteitem">ลบอสังหาฯนี้ออกจากกลุ่มใช่หรือไม่?</h5>
                        </div>
                        <div class="modal-body">
                          <div class="text-center">
                            <div class="row">
                              <div class="col-md-6">
                                <button type="button" class="btn btn-success" data-dismiss="modal"
                                  (click)="onDeleteItem(land.ID_Lands)">
                                  <i class="fas fa-trash-alt"></i> ยืนยัน
                                </button>
                              </div>
                              <div class="col-md-6">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">
                                  ยกเลิก
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a *ngIf="land.Owner == ID_user" [routerLink]="['/lands',land.ID_Lands]"
                    [queryParams]="{page: activePage}" target="_blank">
                    <div class="title" style="white-space: nowrap; 	
                      overflow: hidden; text-overflow: ellipsis;">
                      {{land.AnnounceTH}} <br>
                    </div>
                  </a>
                  <a *ngIf="land.Owner != ID_user"
                   target="_blank"><a *ngFor="let F of GFolders"><a *ngFor="let D of GroupsDetail" [routerLink]="['/groups/member/groupfolder/itemlist/details',D.ID_Group,F.ID_Folder,land.ID_Lands]"
                      [queryParams]="{page: activePage}">
                    <div class="title" style="white-space: nowrap; 	
                      overflow: hidden; text-overflow: ellipsis;">
                      {{land.AnnounceTH}} <br>
                    </div>
                  </a></a></a>
                  <div class=""><a *ngIf="land.Owner == ID_user" [routerLink]="['/lands',land.ID_Lands]"
                      [queryParams]="{page: activePage}"><img width="100%" height="200px"
                        src="{{land.ImageEX}}"
                        class="img-responsive notebook-img rounded"></a>
                    <a *ngIf="land.Owner != ID_user"
                     ><a *ngFor="let F of GFolders"><a *ngFor="let D of GroupsDetail" [routerLink]="['/groups/member/groupfolder/itemlist/details',D.ID_Group,F.ID_Folder,land.ID_Lands]"
                      [queryParams]="{page: activePage}"><img width="100%" height="200px"
                        src="{{land.ImageEX}}"
                        class="img-responsive notebook-img rounded"></a></a></a>
                    <!---->
                    <label class="text-center " *ngIf="land.PPStatus == 'ขายแล้ว'"><i class="fas fa-window-close"
                        style="color: red;"></i> {{land.PPStatus}}</label>
                    <label class="text-center " *ngIf="land.PPStatus == 'อยู่ระหว่างการจอง'"><i
                        class="fas fa-clipboard-check" style="color: rgb(235, 131, 13);"></i> {{land.PPStatus}}</label>
                    <label class="text-center " *ngIf="land.PPStatus == 'ยังไม่ขาย'"><i class="fas fa-clipboard"
                        style="color: green;"></i> {{land.PPStatus}}</label>
                    <hr>
                    <ul class="specification">
  
                      <li><i class="fas fa-building font-color-condo"></i><b>
                          {{land.ColorType}}</b></li>
                      <li><i class="fas fa-ruler-combined font-color-gold"></i><b> {{land.LandR}} ไร่ </b> |
                        <b> {{land.LandG}} งาน</b> | <b> {{land.LandWA}} ตารางวา </b></li>
                      <li><i class="fas fa-map-marker-alt font-color-mark"></i><b> {{land.Location}}</b></li>
                      <li><i class="fas fa-map-marked-alt font-color-overview"></i><b>
                          {{land.ObservationPoint}}</b></li>
                    </ul>
                  </div>
                  <!---->
                  <div class="info">
                    <div class="price">
                      ราคา
                      <span>{{land.SellPrice | number}}</span>
                      บาท
                    </div>
                    <ul>
                      <li>เพิ่มลงกลุ่มเมื่อ {{land.Created| timeAgoThai}}</li>
                    </ul>
                    <ul>
                      <li>โดยคุณ {{land.Firstname}}  {{land.Lastname}}</li>
                    </ul>
                  </div>
                </div>
                <!---->
              </div>
            </div>
          </div>
        </div>
      </div>
  
  
  
  
      <br><br><br><br><br><br>
      <br><br><br><br><br><br>
      <hr><br><br>
  
      <app-footer></app-footer>
    </div>
  </div>
  