<app-navbar></app-navbar>
        <div class="container">
          <div id="product-container">
            <div class="row">
              <div class="col-md-7">
                  <div id="parentdiv" #parentdiv>
                <div class="logo-distributed ">
                <h3 align = 'center'>Property<span>Management</span></h3>
                </div>
                
                <h1 align = 'center'>บ้านแสนศิรี</h1>
                <p><b>ประเภทโครงการ</b><span class="float-right">บ้านเดี่ยว</span></p>
                <p><b>ที่ดิน</b><span class="float-right">35 - 70 ตร.ว.</span></p>
                <p><b>พื้นที่ใช้สอย</b><span class="float-right">20 - 150 ตร.ว.</span></p>
                <p><b>เลขที่โฉนด</b><span class="float-right">78988542</span></p>
                <br>
                <p><b>เงื่อนไขการขาย</b><span class="float-right">จ่ายเงินก่อน</span></p>
                <p><b>*วางเงินมัดจำ 10 เปอร์เซ็น</b><span class="float-right"></span></p>
                <p><b>ชื่อผู้ดูแล:</b><span class="float-right">Matty</span></p>
                <p><b>เบอร์โทรติดต่อ</b><span class="float-right">098-7654321</span></p>
                <p><b>Line ID:</b><span class="float-right">Matty1956</span></p>
                <br>
                <p><b>ราคาเริ่มต้น.........................................................................................</b><span class="float-right">2,900,000 บาท</span></p>
                <div class="row">
                  <div class="col-md-4" ><img src="https://www.gannett-cdn.com/presto/2019/08/28/PCLA/8cf4e395-b08a-4f69-b409-2b6cbae8bde4-House_3.JPG?width=540&height=&fit=bounds&auto=webp" width="150" height="150"></div>
                  <div class="col-md-4" ><img src="https://www.gannett-cdn.com/presto/2019/08/28/PCLA/8cf4e395-b08a-4f69-b409-2b6cbae8bde4-House_3.JPG?width=540&height=&fit=bounds&auto=webp" width="150" height="150"></div>
                  <div class="col-md-4" ><img src="https://www.gannett-cdn.com/presto/2019/08/28/PCLA/8cf4e395-b08a-4f69-b409-2b6cbae8bde4-House_3.JPG?width=540&height=&fit=bounds&auto=webp" width="150" height="150"></div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4" ><img src="https://www.gannett-cdn.com/presto/2019/08/28/PCLA/8cf4e395-b08a-4f69-b409-2b6cbae8bde4-House_3.JPG?width=540&height=&fit=bounds&auto=webp" width="150" height="150"></div>
                    <div class="col-md-4" ><img src="https://www.gannett-cdn.com/presto/2019/08/28/PCLA/8cf4e395-b08a-4f69-b409-2b6cbae8bde4-House_3.JPG?width=540&height=&fit=bounds&auto=webp" width="150" height="150"></div>
                    <div class="col-md-4" ><img src="https://www.gannett-cdn.com/presto/2019/08/28/PCLA/8cf4e395-b08a-4f69-b409-2b6cbae8bde4-House_3.JPG?width=540&height=&fit=bounds&auto=webp" width="150" height="150"></div>
                  </div>
                  <br>
                  <img id="imgMap" alt="" style="display: none" />
                  <br>
                </div>
              </div>
            </div>
            
                </div>
                </div>
       
      <div class="col-md-5 ">
          <button class="button" type="button" id="btnExport" onclick="Export()" >เพิ่มแผนที่</button>
        
          <button class="button" type="button" (click)="downloadPDF()">บันทึกเป็น PDF</button>

      </div>

      <app-footer></app-footer>