<app-navbar></app-navbar>
<img src="https://www.234.in.th/images/2019/05/03/derek-torsani-22x.png" class="img-fluid" alt="Responsive image"
  style="width:100%;">
<div class="container PMB">
  <div class="row">
    <br>
    <div class="col-md-3 col-sm-2 ">
      <div id="list-example" class="list-group">
        <br>
        <button class="btn btn-dark" disabled>แก้ไขข้อมูลองฉัน</button>
        <button class="list-group-item list-group-item-action" (click)="onChange1()">ข้อมูลทั่วไป</button>
        <button class="list-group-item list-group-item-action" (click)="onChange2()">ข้อมูลการใช้งาน</button>
        <button class="list-group-item list-group-item-action" (click)="onChange3()">ความปลอดภัย</button>

      </div>
    </div>

    <div class="col-md-9 ">
      <br>
      <ul id="breadcrumb-nav" typeof="BreadcrumbList">
        <li property="itemListElement" typeof="ListItem"><a [routerLink]="[ '/home' ]" property="item"
            typeof="WebPage"><span property="name"><i class="fas fa-paper-plane"></i>
              หน้าแรก</span></a>
          <meta property="position" content="1">
        </li>
        <li property="itemListElement" typeof="ListItem"><a [routerLink]="[ '/profile' ]" property="item"
            typeof="WebPage"><span property="name">บัญชีของฉัน</span></a>
          <meta property="position" content="2">
        </li>
        <li property="itemListElement" typeof="ListItem"><a [routerLink]="[ '/updateprofile' ]" property="item"
            typeof="WebPage"><span property="name">แก้ไขข้อมูลองฉัน</span></a>
          <meta property="position" content="3">
        </li>
      </ul>
      <br>
      <div *ngIf="change1 == false">
        <h3><i style="color: chocolate" class="fas fa-feather-alt "></i>แก้ไขข้อมูลส่วนตัว</h3>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <form [formGroup]="updateForm">
              <div id="section1">
                <h5 style="margin:0">ข้อมูลส่วนตัว</h5>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">ชื่อ</label>
                    <input type="text" class="form-control" (change)="onGetUpdateFn($event.target.value)"
                      value="{{details?.Firstname}} " id="inputCity" style="border-radius: 30px 30px 30px 30px;"
                      formControlName="firstName">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputPassword4">นามสกุล</label>
                    <input type="text" class="form-control" (change)="onGetUpdateLn($event.target.value)"
                      value="{{details?.Lastname}} " id="inputCity" style="border-radius: 30px 30px 30px 30px;"
                      formControlName="lastName">
                  </div>
                </div>
                <div class="form-group ">
                  <label for="inputCity">ที่อยู่</label>
                  <input type="text" class="form-control" (change)="onGetUpdateLu($event.target.value)"
                    formControlName="LocationU" value="{{details?.LocationU}}" id="inputCity"
                    style="border-radius: 30px 30px 30px 30px;">
                </div>
                <div class="form-group">
                  <label for="inputZip">เบอร์โทรศัพท์</label>
                  <input type="text" class="form-control" (change)="onGetUpdateP($event.target.value)"
                    formControlName="Phone" style="border-radius: 30px 30px 30px 30px;" value="{{details.Phone}}">
                </div>
                <div class="form-group">
                  <label for="inputZip">เพศ</label>
                  <select class="form-control" formControlName="Gender" style="border-radius: 30px 30px 30px 30px;"
                    (change)="onGetUpdateG($event.target.value)" value='{{details.Gender}}'>
                    <option value="ชาย">
                      ชาย</option>
                    <option value="หญิง">
                      หญิง</option>
                    <option value="ไม่ระบุ">
                      ไม่ระบุ</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="inputZip">วันเดือนปีที่เกิด</label>
                  <input type="text" class="form-control" (change)="onGetUpdateB($event.target.value)"
                    formControlName="Birthday" style="border-radius: 30px 30px 30px 30px;" value="{{details.Birthday}}">
                </div>
                <div class="form-group">
                  <label for="inputZip">อายุ</label>
                  <input type="text" class="form-control" (change)="onGetUpdateA($event.target.value)"
                    formControlName="Age" style="border-radius: 30px 30px 30px 30px;" value="{{details.Age}}">
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-success float-left" type="button" (click)="onUpdateA()">บันทึก</button>
              </div>
            </form>
          </div>
          <div class="col-md-4">
            <h5>รูปโปรไฟล์</h5>
            <div class="card">
              <img src="http://www.landvist.xyz/images/{{Profileimage}}" class="card-img-top" width="260px"
                height="260px">
              <div class="card-body">
                <div class="btn-group">
                  <button type="button" class="btn btn-dark " data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="fas fa-edit"></i>แก้ไข
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item btn-file"><input type="file" name="file" class="" ng2FileSelect
                        [uploader]="uploader">อัพโหลดรูปภาพ</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="RemoveImage()">ลบรูปภาพ</a>
                  </div>
                </div>

              </div>
            </div>
            <app-loading-spinner *ngIf="showSpinner2 == true"></app-loading-spinner>
          </div>
        </div>
      </div>
      <br>
      <div *ngIf="change2 == true" >
        <h5>ข้อมูลการใช้งาน</h5>
        <hr>
        <form [formGroup]="updateDForm">
          <div class="form-group">
            <label for="inputZip">ลักษณะผู้ใช้งาน</label>
         
            <div class="col-md-4">
                <select class="form-control" formControlName="UserType" (change)="onGetUpdateD($event.target.value)" style="border-radius: 30px 30px 30px 30px;"
                [ngClass]="{ 'is-invalid': submitted && D.UserType.errors }" value="{{UserType}}">
                <option value="ระยะสั้น">
                    ระยะสั้น ต่ำกว่าหรือเท่ากับ 1 ปี</option>
                  <option value="ระยะยาว">
                    ระยะยาว 1 ปีขึ้นไป</option>
              </select>
              <div *ngIf="submitted && D.UserType.errors" class="invalid-feedback">
                <div *ngIf="D.UserType.errors.required">กรุณาเลือกลักษณะผู้ใช้งาน</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-success float-left" type="button" (click)="onUpdateA()">บันทึก</button>
          </div>
        </form>
      </div>
      <br>
      <div *ngIf="change3 == true && change2 == false">
        <h5>การรีเซ็ทรหัสผ่านใหม่</h5>
        <hr>
        <form [formGroup]="updatepassForm">
          <div class="form-group">
            <label>รหัสผ่าน เก่า</label>
            <input type="password" [(ngModel)]="credentials.OldPassword" formControlName="OldPassword" class="form-control"
              style="border-radius: 30px 30px 30px 30px;"
              [ngClass]="{ 'is-invalid': submitted && P.OldPassword.errors }" />
            <div *ngIf="submitted && P.OldPassword.errors" class="invalid-feedback">
              <div *ngIf="P.OldPassword.errors.required">กรุณากรอกรหัสผ่าน</div>
              <div *ngIf="P.OldPassword.errors.minlength">ใช้อักขระ 6 ตัวขึ้นไป สำหรับรหัสผ่าน</div>
            </div>
          </div>
          <div class="form-group">
            <label>รหัสผ่าน ใหม่</label>
            <input type="password" [(ngModel)]="credentials.Password" formControlName="password" class="form-control"
              style="border-radius: 30px 30px 30px 30px;"
              [ngClass]="{ 'is-invalid': submitted && P.password.errors }" />
            <div *ngIf="submitted && P.password.errors" class="invalid-feedback">
              <div *ngIf="P.password.errors.required">กรุณากรอกรหัสผ่าน</div>
              <div *ngIf="P.password.errors.minlength">ใช้อักขระ 6 ตัวขึ้นไป สำหรับรหัสผ่าน</div>
            </div>
          </div>
          <div class="form-group">
            <label>ยืนยัน รหัสผ่าน</label>
            <input type="password" formControlName="confirmPassword" class="form-control"
              style="border-radius: 30px 30px 30px 30px;"
              [ngClass]="{ 'is-invalid': submitted && P.confirmPassword.errors }" />
            <div *ngIf="submitted && P.confirmPassword.errors" class="invalid-feedback">
              <div *ngIf="P.confirmPassword.errors.required">กรุณายืนยัน รหัสผ่าน</div>
              <div *ngIf="P.confirmPassword.errors.mustMatch">รหัสผ่านเหล่านี้ไม่ตรงกัน โปรดลองอีกครั้ง</div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-outline-primary float-right" type="submit"
              (click)="comparePassword()">รีเซ็ทรหัสผ่าน</button>
          </div>
        </form> 
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>