.page-content img {
    max-width: 100%;
    height: auto!important;
   
  }
#breadcrumb-nav{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
  }
  #breadcrumb-nav li{
    /*font-family:OpenSans-Semibold;*/
    font-weight: 600;
    font-size: 13px;
    color: #ff3c1f;
  }
  #breadcrumb-nav li::after{
    content: "\f054";
    font-family: FontAwesome;
    color: #333;
    margin-left: 7px;
    margin-right: 7px;
  }
  #breadcrumb-nav li:last-child::after{
    content: "";
    margin-left: 0px;
    margin-right: 0px;
  }
  #breadcrumb-nav li a{
    /*font-family:OpenSans-Regular;*/
    font-weight: 400;
    color: #333;
  }